*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colorContainer{
  background-color: rgb(229, 202, 202);
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
 
}

.colors{
  height: 100px;
  width: 200px;
  border: 2px black solid;
  list-style-type: none;
  margin-top: 2px;
  padding: 30px;
  cursor: pointer;
}